<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>PIPGrabber</title>
	<link rel="icon" href="./favicon.ico">

	<link rel="stylesheet" href="./pipgrabber.css" />
	<script type="text/javascript" src="./pipgrabber.js" defer></script>
</head>
<body>
	<div class="l-site-container">
		<div class="c-app-preview">
			<header class="c-site-header">
				<div class="c-site-header--left">
					<a href="/" class="c-site-header--title">
						<img class="c-site-header--logo" src="./res/logo.png" />
						<span class="c-site-header--name">PIPGrabber</span>
					</a>
				</div>
				<div class="c-site-header--right">
					<a href="#about" class="c-button c-button__empty c-site-header--nav-button js-button-anchor">About</a>
					<a href="#whatsnew" class="c-button c-button__empty c-site-header--nav-button js-button-anchor">What's new</a>
					<a href="#feedback" class="c-button c-button__empty c-site-header--nav-button js-button-anchor">Feedback</a>
				</div>
				<a href="./versions/pipgrabber.dmg" class="c-button c-site-header--download">Download</a>
			</header>

			<div class="c-app-preview--container">
				<div class="c-app-preview--left">
					<h2 class="c-app-preview--title t1">Watch videos in Picture in Picture mode in OS X</h2>
					<p class="c-app-preview--description t3">
						Using PIPGrabber you can watch any video from any browser in OS X Picture in Picture mode. Even your local videos
					</p>
					<div class="c-app-preview--buttons">
						<a href="./versions/pipgrabber.dmg" class="c-button c-app-preview--button">Download for free</a>
						<a href="https://www.liqpay.ua/ru/checkout/salen" class="c-button c-button__bordered c-app-preview--button" target="_blank">Support development</a>
					</div>
				</div>
				<div class="c-app-preview--right">
					<img class="c-app-preview--image" src="./res/screenshot-1.png" />
				</div>
			</div>

			<div class="c-app-preview--footer">
				<a class="c-app-preview--footer-link" href="https://ribachenko.com">© 2017 Vitaliy Ribachenko</a>
			</div>
		</div>
	</div>

	<section class="c-block-header" id="about">
		<header class="c-block-header--title t1">About PIPGrabber</header>

		<article class="c-app-block">
			<div class="c-app-block--left">
				<div class="c-app-block--content">
					<h2 class="c-app-block--title t2">Watch any videos in Picture in Picture mode</h2>
					<p class="c-app-block--description t3">
						PiP mode is a really convinient way to watch videos, like presentation recordings, while continue working
						with other stuff
					</p>
				</div>
			</div>
			<div class="c-app-block--right">
				<img src="./res/screenshot-2.png" class="c-app-block--image" />
			</div>
		</article>

		<article class="c-app-block c-app-block__reversed">
			<div class="c-app-block--left">
				<div class="c-app-block--content">
					<h2 class="c-app-block--title t2">Minimalistic UI</h2>
					<p class="c-app-block--description t3">
						Everything is all about opening any video and watch it in foreground
					</p>
				</div>
			</div>
			<div class="c-app-block--right">
				<picture class="c-app-block--image">
					<source srcset="./res/screenshot-3-desktop.png" media="(min-width: 421px)">
						<img src="./res/screenshot-3.png" class="c-app-block--image" />
					</picture>
				</div>
			</article>

			<article class="c-app-block">
				<div class="c-app-block--left">
					<div class="c-app-block--content">
						<h2 class="c-app-block--title t2">Control your video</h2>
						<p class="c-app-block--description t3">
							By default, PiP mode doesn't have play controls, but PIPGrabber does
						</p>
					</div>
				</div>
				<div class="c-app-block--right">
					<img src="./res/screenshot-4.png" class="c-app-block--image" />
				</div>
			</article>

			<article class="c-app-block c-app-block__reversed">
				<div class="c-app-block--left">
					<div class="c-app-block--content">
						<h2 class="c-app-block--title t2">Play even local files</h2>
						<p class="c-app-block--description t3">
							PIPGrabber allows you via Share extension to open any local file to play it in Picture in Picture mode
						</p>
					</div>
				</div>
				<div class="c-app-block--right">
					<img src="./res/screenshot-5.png" class="c-app-block--image" />
				</div>
			</article>
		</section>

		<section class="c-block-header l-site-container l-content" id="whatsnew">
			<header class="c-block-header--title t1">What's new in PIPGrabber</header>

			<div>
				<article class="c-notes-block">
					<header class="c-notes-block--header">
						<span class="c-notes-block--title">1.1.0</span>
						<span class="c-notes-block--date">14 July 2017</span>
					</header>
					<ul>
						<li class="c-notes-block--item">Meet <strong>Share</strong> extension. From now on, you can share any video to PIPGrabber, including local ones</li>
						<li class="c-notes-block--item">Add possibility to change video <strong>time</strong> from PIPGrabber window, as well as from tray menu</li>
					</ul>
				</article>

				<article class="c-notes-block">
					<header class="c-notes-block--header">
						<span class="c-notes-block--title">1.0.1</span>
						<span class="c-notes-block--date">12 May 2017</span>
					</header>
					<ul>
						<li>Video url will be preserved when user pop's PIP window</li>
					</ul>
				</article>
			</div>
		</section>

		<section class="c-block-header c-request-feature l-site-container l-content" id="feedback">
			<header class="c-block-header--title t1">Your feedback about PIPGrabber</header>

			<div class="c-request-feature--description-block">
				<p class="c-request-feature--description">Do you want to request a feature? Send us an idea if it wasn't already posted here.</p>
				<a href="mailto:vit@ribachenko.com?subject=Feature proposal for PIPGrabber" class="c-button c-button__bordered c-request-feature--add">Send an idea</a>
			</div>

			<ul class="c-request-feature--list">
				{{#each features}}
				{{> feature}}
				{{/each}}
			</ul>
		</section>

		<footer class="c-site-footer">
			<div class="c-site-footer--item">
				<a class="o-text-link" href="https://ribachenko.com/use-os-x-picture-in-picture-mode-everywhere/">Read a blog post about PIPGrabber</a>
			</div>
			<div class="c-site-footer--item">
				Made by <a class="o-text-link" href="https://ribachenko.com">Vitaliy Ribachenko</a>
			</div>
		</footer>
	</body>
	</html>
